<h1>All the Coffees</h1>

<% @coffees.each do |coffee| %>
  <div id="coffee-<%= coffee.id %>">
    <h2><%= coffee.name %></h2>
    <img src="<%= coffee.image %>" style="width: 200px">
    <p>Price: $<%= coffee.price %></p>
    <a href="/coffees/<%= coffee.id %>">Details</a>
  </div>
<% end %>
